/* Links no subrayados */
a {
    text-decoration: none;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Estilos del cuerpo del documento */
body {
    background-image: linear-gradient(to bottom, #38a0af, #418e95 50%, #aebfd7);
}

/* Estilos del banner */
.banner {
    width: 100%;
    height: auto;
}