a {
    text-decoration: none;
}

p {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #38a0af, #418e95 50%, #aebfd7);
}

.banner {
    width: 100%;
    height: auto;
}